body {
  background-image: url(../src/assets/pattern.jpg);
  font-family: 'Slabo 27px', serif;
  margin: 0px;
}

header {
  background-color: white;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

section {
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}

article {
  border-bottom: 1px solid lightgrey;
}

h5 {
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: black;
  color: white;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title title' 'image detail' 'description description';
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  padding: 1rem;
}

.movie-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  font-size: 2rem;
}

.movie-image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
}

.movie-detail {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: detail;
  font-size: 1.5rem;
}

.movie-description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: description;
  font-size: 1.25rem;
}

.form-edit-movie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 1rem;
}

.form-edit-movie label {
  margin-top: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.form-edit-movie input {
  border: 2px solid black;
  border-radius: 5px;
  -webkit-box-shadow: 3px 6px 0 0 black;
          box-shadow: 3px 6px 0 0 black;
  height: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1rem 1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.form-edit-movie input:focus {
  border: 2px solid #3b63e7;
  border-radius: 5px;
  -webkit-box-shadow: 8px 12px 0 0 #3b63e7;
          box-shadow: 8px 12px 0 0 #3b63e7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  outline: none;
}

.form-edit-movie textarea {
  border: 2px solid black;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 0 0 black;
          box-shadow: 6px 6px 0 0 black;
  padding: 0.5rem 1rem;
}

.form-edit-movie textarea:focus {
  border: 2px solid #3b63e7;
  border-radius: 5px;
  -webkit-box-shadow: 8px 12px 0 0 #3b63e7;
          box-shadow: 8px 12px 0 0 #3b63e7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  outline: none;
}

.form-edit-movie button {
  margin-top: 1rem;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  height: 3rem;
  font-weight: 600;
  font-size: 1.25rem;
  -webkit-box-shadow: 4px 8px 0 0 black;
          box-shadow: 4px 8px 0 0 black;
}

.form-edit-movie button:hover {
  border: 2px solid #3b63e7;
  border-radius: 5px;
  -webkit-box-shadow: 4px 8px 0 0 #3b63e7;
          box-shadow: 4px 8px 0 0 #3b63e7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3b63e7;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.form-edit-movie button:focus {
  border: 2px solid #3b63e7;
  border-radius: 5px;
  -webkit-box-shadow: 8px 12px 0 0 #3b63e7;
          box-shadow: 8px 12px 0 0 #3b63e7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3b63e7;
  background-color: white;
  outline: none;
}

.table-movie {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  -webkit-box-shadow: 6px 9px 0 0 black;
          box-shadow: 6px 9px 0 0 black;
  font-weight: 500;
  font-size: 1.2rem;
}

.table-movie tr {
  border: 1px solid black;
}

.table-movie tr:hover {
  background-color: rgba(59, 99, 231, 0.192);
}

.table-movie tr th {
  border: 1px solid black;
}

.table-movie tr td {
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
}

.table-movie button {
  margin-right: 1rem;
  background-color: black;
  color: white;
  border: 2px solid black;
  -webkit-box-shadow: 3px 6px 0 0 #3b63e7;
          box-shadow: 3px 6px 0 0 #3b63e7;
  border-radius: 0.5rem;
  height: 2.5rem;
  font-weight: 600;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.table-movie button:hover {
  border: 2px solid #3b63e7;
  border-radius: 5px;
  -webkit-box-shadow: 3px 6px 0 0 #3b63e7;
          box-shadow: 3px 6px 0 0 #3b63e7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3b63e7;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.table-movie button:focus {
  border: 2px solid #3b63e7;
  border-radius: 5px;
  -webkit-box-shadow: 5px 8px 0 0 #3b63e7;
          box-shadow: 5px 8px 0 0 #3b63e7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3b63e7;
  background-color: white;
  outline: none;
}
/*# sourceMappingURL=index.css.map */