body {
    background-image: url(../src/assets/pattern.jpg);
    font-family: 'Slabo 27px', serif;
    margin: 0px;
}

header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

section {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    position: relative;
    top: 70px;
    padding: 20px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
}

article {
    border-bottom: 1px solid lightgrey;
}

h5 {
    text-align: center;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.movie {
    &-grid-container {
        display: grid;
        grid-template-areas:
            'title title'
            'image detail'
            'description description';
        grid-template-columns: 1fr 5fr;
        grid-gap: 10px;
        padding: 1rem;
    }
    &-title {
        grid-area: title;
        font-size: 2rem;
    }

    &-image {
        grid-area: image;
    }

    &-detail {
        grid-area: detail;
        font-size: 1.5rem;
    }

    &-description {
        grid-area: description;
        font-size: 1.25rem;
    }
}

.form-edit-movie {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;

    label {
        margin-top: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        // text-shadow: 1px 1px rgb(59, 99, 231);
        letter-spacing: 0.5rem;
    }

    input {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 5px;
        box-shadow: 3px 6px 0 0 rgb(0, 0, 0);
        height: 1rem;
        font-weight: 600;
        font-size: 1.25rem;
        padding: 1rem 1rem;
        transition: all 200ms ease;

        &:focus {
            border: 2px solid rgb(59, 99, 231);
            border-radius: 5px;
            box-shadow: 8px 12px 0 0 rgb(59, 99, 231);
            transition: all 200ms ease;
            outline: none;
        }
    }

    textarea {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 5px;
        box-shadow: 6px 6px 0 0 rgb(0, 0, 0);
        padding: 0.5rem 1rem;

        &:focus {
            border: 2px solid rgb(59, 99, 231);
            border-radius: 5px;
            box-shadow: 8px 12px 0 0 rgb(59, 99, 231);
            transition: all 200ms ease;
            outline: none;
        }
    }

    button {
        margin-top: 1rem;
        background-color: black;
        color: white;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 5px;
        height: 3rem;
        font-weight: 600;
        font-size: 1.25rem;
        box-shadow: 4px 8px 0 0 rgb(0, 0, 0);

        &:hover {
            border: 2px solid rgb(59, 99, 231);
            border-radius: 5px;
            box-shadow: 4px 8px 0 0 rgb(59, 99, 231);
            transition: all 200ms ease;
            color: rgb(59, 99, 231);
            background-color: white;
            outline: none;
            cursor: pointer;
        }

        &:focus {
            border: 2px solid rgb(59, 99, 231);
            border-radius: 5px;
            box-shadow: 8px 12px 0 0 rgb(59, 99, 231);
            transition: all 200ms ease;
            color: rgb(59, 99, 231);
            background-color: white;
            outline: none;
        }
    }
}


.table-movie {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 6px 9px 0 0 rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.2rem;

    tr {
        border: 1px solid black;

        &:hover {
            background-color: rgba(59, 99, 231, 0.192);
        }

        th {
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
            text-align: center;
            padding: 1rem;
        }
    }

    button {
        margin-right: 1rem;
        background-color: black;
        color: white;
        border: 2px solid rgb(0, 0, 0);
        box-shadow: 3px 6px 0 0 rgb(59, 99, 231);
        border-radius: 0.5rem;
        height: 2.5rem;
        font-weight: 600;
        transition: all 200ms ease;

        // box-shadow: 4px 8px 0 0 rgb(0, 0, 0);
        &:hover {
            border: 2px solid rgb(59, 99, 231);
            border-radius: 5px;
            box-shadow: 3px 6px 0 0 rgb(59, 99, 231);
            transition: all 200ms ease;
            color: rgb(59, 99, 231);
            background-color: white;
            outline: none;
            cursor: pointer;
        }

        &:focus {
            border: 2px solid rgb(59, 99, 231);
            border-radius: 5px;
            box-shadow: 5px 8px 0 0 rgb(59, 99, 231);
            transition: all 200ms ease;
            color: rgb(59, 99, 231);
            background-color: white;
            outline: none;
        }
    }
}